<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joysdk.game.dao.KeyStoreMapper">

	<resultMap type="KeyStore" id="keyStoreResultMap">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="fileId" column="FILEID" />
		<result property="alias" column="ALIAS" />
		<result property="storePass" column="STORE_PASS" />
		<result property="mainPass" column="MAIN_PASS" />
		<result property="commonName" column="COMMON_NAME" />
		<result property="orgName" column="ORG_NAME" />
		<result property="cpId" column="CP_ID" />
	</resultMap>
	
	<insert id="createKeyStore" parameterType="KeyStore" useGeneratedKeys="true" keyProperty="id">
		insert into T_GAME_KEYSTORE (NAME, FILEID, ALIAS, STORE_PASS, MAIN_PASS, COMMON_NAME, ORG_NAME, CP_ID) values(
			#{name}, #{fileId}, #{alias}, #{storePass}, #{mainPass}, #{commonName}, #{orgName}, #{cpId}
		);
	</insert>
	
	<select id="getKeyStoresByCpId" parameterType="Integer" resultType="KeyStore" resultMap="keyStoreResultMap">
		select * from T_GAME_KEYSTORE where CP_ID=#{cpId}
	</select>

	<select id="getKeyStoresByFileId" parameterType="String" resultType="KeyStore" resultMap="keyStoreResultMap">
		select * from T_GAME_KEYSTORE where FILEID=#{fileId}
	</select>
	
	<delete id="deleteKeyStoresById" parameterType="Integer">
		delete from T_GAME_KEYSTORE where ID=#{id}
	</delete>
</mapper>
